<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_alive_checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Server_alive_checker.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="configBoxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="profileBoxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="saved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="restarts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="game" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime1" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime2" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime3" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime4" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime5" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime6" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime7" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime8" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime9" serializeAs="String">
                <value />
            </setting>
            <setting name="restartTime10" serializeAs="String">
                <value />
            </setting>
            <setting name="Einstellung" serializeAs="String">
                <value />
            </setting>
            <setting name="box" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="r1a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r2a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r3a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r4a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r5a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r6a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r7a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r8a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r9a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="r10a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="otherArmaParBox" serializeAs="String">
                <value />
            </setting>
            <setting name="BePath" serializeAs="String">
                <value />
            </setting>
            <setting name="mods" serializeAs="String">
                <value />
            </setting>
        </Server_alive_checker.Properties.Settings>
    </userSettings>
</configuration>